

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
</head>
<body>
    <h1>learning ejs</h1>
    <h3>value for the dice is <%= dice %></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est sint vel, cupiditate error harum praesentium provident, sequi quaerat eos aliquid suscipit asperiores tempora optio voluptatibus facere sit, inventore explicabo amet. Repellat, blanditiis sapiente consectetur ipsa recusandae sunt cum, repudiandae dolores ipsam quasi excepturi incidunt. Nemo labore corrupti voluptatum ipsum, ex animi ullam laborum non eos consequuntur aspernatur unde accusamus, inventore sunt quod minus officiis fuga facere. Blanditiis aut, repudiandae fugit dolore odit sunt nihil necessitatibus iusto totam harum ut nostrum tempora quia expedita corrupti amet enim reprehenderit, non fugiat nesciunt voluptate perspiciatis, dolores dicta dolorem. Repellat est esse eos, sed nisi fuga quaerat velit expedita, porro neque voluptas ut illum atque ea quisquam delectus aut possimus. Dolorum quo soluta voluptas.</p>
    <button>click me</button>
</body>
</html>